body {
  font-family: Roboto, sans-serif, monospace;
  display: flex;
  min-height: 100vh;
}

.new-group {
  margin-top: 40px;
  margin-bottom: 5px;
}

.new-group:active {
  background-color: #8fa0ff;
}

.side-btn {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 60px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #c6ceff;
  transition: background-color 0.2s ease-out;
}

.side-btn:hover {
  background-color: #8fa0ff;
}

.selected-group {
  background-color: #8fa0ff;
}

.group-btn {
  text-align: left;
  padding-left: 15px;
}

#all-todos {
  margin-bottom: 10px;
}

.del-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
}

.group {
  position: relative;
  margin-bottom: 10px;
}

.delete-group-btn {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.delete-icon {
  width: 24px;
  height: 24px;
  fill: gray;
}

.delete-icon:hover {
  fill: red;
  cursor: pointer;
}

.delete-icon:active {
  fill: darkred;
}

#group-list {
  width: 100%;
}

.todo-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: lightgray;
  padding: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.todo-card:hover {
  box-shadow: 2px 2px 8px #000000;
  transform: translate(-2px, -4px);
}

#add-new-todo {
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d335;
  transition: background-color 0.2s ease;
}

#add-new-todo:hover {
  background-color: #d3d3d350;
}

#plus-icon {
  fill: #1b1a55;
  width: 120px;
  height: 120px;
}

.delete-card-btn {
  position: absolute;
  top: 4%;
  right: 2%;
}

.todo-title {
  padding: 28px 0 5px 0;
}

.todo-desc {
  padding: 10px 0 15px 0;
}

.todo-title,
.todo-due-date,
.todo-desc {
  margin: 0;
}

#cards-container {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: 200px;
  gap: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

aside {
  display: flex;
  flex-direction: column;
  background-color: #070f2b;
  width: 30vw;
  align-items: center;
  padding: 0 25px 0 25px;
}

section {
  background-color: #1b1a55;
  text-align: center;
  padding: 20px 40px 20px 40px;
}

h2 {
  margin: 10px 0 40px 0;
  font-size: 2rem;
  color: lightgray;
}

#logo {
  width: 80px;
  height: auto;
}

#logo-and-heading {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
  color: lightgray;
  margin-top: 30px;
}

dialog:open {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #c6ceff;
  border-radius: 10px;
  border: none;
  padding: 12px;
  width: 380px;
  height: fit-content;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}

.close-dialog {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  align-self: end;
}

.close-dialog:hover {
  color: red;
}

.close-dialog:active {
  background-color: #c6c6c6;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}

form input,
select {
  width: 300px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #999999;
  background-color: white;
}

#todo-priority {
  width: 320px;
}

form label {
  font-size: 1.2rem;
  font-weight: bold;
}

.todo-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
  margin-bottom: 5px;
}

.todo-status > label {
  font-size: 1.05rem;
  font-weight: bold;
}

.todo-status > input {
  width: 18px;
  height: 18px;
  accent-color: springgreen;
  cursor: pointer;
  border-radius: 4px;
}

#create-group-btn,
#create-todo-btn {
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: green;
  font-size: 1.2rem;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

#create-group-btn:hover,
#create-new-todo-btn:hover {
  background-color: #009700;
}

#create-group-btn:active,
#create-new-todo-btn:active {
  background-color: #00a400;
}

textarea {
  padding: 10px;
  width: 300px;
  height: 100px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #999999;
  font-size: 1.2rem;
  resize: none;
}
